body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    color: #222
}

main {
    display: grid;
    grid-template-columns: auto;
    height: 100vh;

}

.allblogs {
    display: grid;
    grid-template-columns: auto;
    overflow: auto;
}

.month {
    display: grid;
    grid-template-columns: 100px auto 100px;
    max-width: 1500px;
    justify-self: center;
    transition: all 0.2s;
    transform: scale(1);
    border-bottom: 2px solid #222;
    margin-bottom: -2px;
    transform: scale(0.98);
    transition: all 0.2s;
    
}

.day {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-column: 2 / 3;
    transform: scale(1);
    transition: all 0.2s;
    border-bottom: 2px solid #222;
    margin-bottom: -2px;
}

.activemonth {
    transform: scale(1);
}

.activemonth .day {
    transform: scale(0.98);
}

.activemonth .activeday {
    transform: scale(1);
}

.blog {
    display: grid;
    grid-template-rows: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.date {
    height: 20px;
    justify-self: center;
    position: sticky;
    position: -webkit-sticky;
    top: calc(50vh - 10px);
    font-weight: bold;
    color: lightgray;
    margin-bottom: 75px;
    margin-top: 75px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    transition: all 0.2s;
    transform: scale(1);
    padding: 0px;
}

.activeday .dateday {
    color: #222;

}

.activemonth .datemonth {
    color: #222;

}

img {
    max-width: 90%;
    height: auto;
}

.navwrapper {
    display: grid;
    grid-template-columns: auto 100px 100px 1100px 100px 100px auto;
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 100;
}

.navday {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 3/4;
    pointer-events: all;

}

.navmonth {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    pointer-events: all;

}

.next {
    cursor: url(down.png), pointer;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.back {
    cursor: url(up.png), pointer;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.next:hover,
.back:hover {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}


.next:active,
.back:active {
    outline: none;
    border: none;
}

.next:focus,
.back:focus {
    outline: 0;
}

.items {
    max-width: 1100px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    cursor: url(right.png), pointer;
    line-height: 0;
}

.items.active {
    transform: scale(1);
    cursor: url(hold.png), grabbing;
}

.item {
    display: inline;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}