body,
html {
    margin: 0px;
    padding: 0px;
    color: #222;
    background-color: #eee;
}

body {
    margin: 25px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center;
    width: calc(100% - 25px);
    max-width: 1250px;
    
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0px;
        max-width: 100%;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

nav {
    position: fixed;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 75px 75px;
    width: 1250;
    max-width: calc(100% - 25px);
    pointer-events: none;
    z-index: 5;
}

.navday {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    pointer-events: all;
}

.navmonth {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    pointer-events: all;
}

@media only screen and (max-width: 600px) {

    .navday,
    .navmonth {
        pointer-events: none;
    }
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:focus {
    outline: 0;
}

.next {
    cursor: url(down.png), pointer;
}

.back {
    cursor: url(up.png), pointer;
}


main {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

}

.noise {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .05;
}

.landing {
    position: relative;
    height: auto;
    z-index: 10;

}

.links {
    display: grid;
    grid-template-rows: 150px auto auto;
    min-height: 100vh;
    justify-self: center;
    z-index: 10;
}

.contacts {
    display: grid;
    grid-template-columns: 150px auto 150px;
    align-content: center;
    border-bottom: 1px solid gray;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 150px;

}

@media only screen and (max-width: 600px) {
    .contacts {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.name {
    justify-self: flex-start;
}

.year {
    justify-self: center;
}

.email {
    justify-self: end;
}

@media only screen and (max-width: 600px) {

    .year,
    .email,
    .name {
        justify-self: flex-start;
        align-self: center;

    }
}



.social {
    list-style: none;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 75px;
    z-index: 3;
    align-self: start;
    justify-self: start;


}

li {
    margin: 0px;
    padding: 0px;
    font-size: 75px;
    transition: all .2s ease-in-out;
}

.blogbutton {
    font-family: 'IBM Plex Sans', sans-serif;
    align-self: flex-end;
    justify-self: start;
    font-size: 75px;
    z-index: 3;
    margin-bottom: 75px;
    transition: all .2s ease-in-out;
    color: #222;

}

.blogbutton:hover,
li:hover {
    color: transparent;
    -webkit-text-stroke: 1px gray;
    cursor: pointer;

}


.month {
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: auto 75px;
    transition: all 0.2s;
    transform: scale(0.98);
    transition: all 0.2s;
    z-index: 3;
}

.day {
    display: grid;
    grid-template-columns: auto 75px;
    margin: 0px;
    padding: 0px;
    grid-column: 1/2;
    transform: scale(1);
    transition: all 0.2s;
    border-bottom: 1px solid gray;
}



.activemonth {
    transform: scale(1);
}

.activemonth .day {
    transform: scale(0.98);
    border-bottom: 1px solid gray;
}

.activemonth .activeday {
    transform: scale(1);

}

.activeday .dateday,
.activemonth .datemonth {
    color: #222;
}

@media only screen and (max-width: 600px) {

    .day, .month, .activeday, .activemonth, .activemonth .day {
        grid-template-columns: auto;
        border: none;
    }
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

.date {
    font-size: 0px;
}

@media only screen and (max-width: 600px) {
    .date {
        font-size: 16px;

    }
}

.dateday,
.datemonth {
    height: 20px;
    justify-self: center;
    position: sticky;
    position: -webkit-sticky;
    top: 50vh;
    color: lightgray;
    margin-bottom: 75px;
    margin-top: 75px;
    transition: all 0.2s;
    transform: scale(1);
    padding: 0px;
    z-index: 3;
    line-height: 0px;
}

@media only screen and (max-width: 600px) {

    .dateday,
    .datemonth {
        font-size: 0px;
        height: 0px;
        margin: 0px;
    }
}

.datemonth {}

.dateday {}

article {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25px;
}

@media only screen and (max-width: 600px) {
    article {
        margin-right: 0px;
    }
}



.slider {
    max-width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    cursor: url(right.png), pointer;
    line-height: 0;
    z-index: 3;
}

@media only screen and (max-width: 600px) {

    .slider,
    .day,
    .month,
    .activeday,
    .activemonth .day {
        transform: scale(1);
    }
}

.slider.active {
    transform: scale(1);
    cursor: url(hold.png), grabbing;
}

img {
    max-width: 90%;
    display: inline;

}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 25px;
}



p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 600px) {

    .date,
    h1,
    p {
        margin-left: 25px;
        margin-right: 25px;
    }
}

.mobiledate {
    background-color: green;
}

.date {
    height: 25px;
    display: inline-block;
}


@media only screen and (min-width: 600px) {

    .mobiledate {
        display: none !important;
        height: 0px;
        line-height: 0px;
        margin: 0px;
        padding: 0px;
    }
}

.modal {
    z-index:100;
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.8)
    }
    
    .modal-content{
    margin: auto;
    display: block;
        position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: auto;
    }

    @media only screen and (max-width: 600px) {

        .modal-content {
            width: 100%;
        }
    }
