body,
html {
    margin: 0px;
    padding: 0px;
    color: #222;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 25px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center;
    width: calc(100vw - 50px);
    max-width: 1250px;
    box-sizing: border-box;
    overflow: auto;
}




nav {
    position: fixed;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 75px 75px;
    width: calc(100vw - 50px);
    max-width: 1250px;
    pointer-events: none;
    z-index: 5;
}


.navday {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    pointer-events: all;
}

.navmonth {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    pointer-events: all;
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:focus {
    outline: 0;
}

.next {
    cursor: url(down.png), pointer;
}

.back {
    cursor: url(up.png), pointer;
}

.noise {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .05;
}

.landing {
    box-sizing: border-box;
    width: calc(100vw - 50px);
    max-width: 1250px;
    position: relative;
    min-height: 100vh;
    height: auto;
    z-index: 10;
}

.footer {
    position: relative;
    display: flex;
    margin-top: -1px;
    height: 150px;
    width: calc(100vw - 50px);
    max-width: 1250px;
    border-top: 1px solid gray;
    align-items: center;
    z-index: 100;
}

.tolanding {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 75px;
    z-index: 3;
    transition: all .2s ease-in-out;
    cursor: url(up.png), pointer;
    width: calc(100vw - 50px);
    text-align: start;
    color: #222;
}

.tolanding:hover {
    color: transparent;
    -webkit-text-stroke: 1px gray;

}


.links {
    min-height: 100vh;
    z-index: 10;
}

.contacts {
    display: grid;
    grid-template-columns: 150px auto 150px;
    align-content: center;
    border-bottom: 1px solid gray;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 150px;
    margin: 0px;
    padding: 0px;

}

.name {
    justify-self: flex-start;
}

.year {
    justify-self: center;
}

.email {
    justify-self: end;
}

.social {

    font-size: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 3;
    height: calc(100vh - 150px);
    padding-top: 25px;
    padding-bottom: 25px;
}

li {
    font-size: 75px;
    margin: 0px;
    padding: 0px;
    transition: all .2s ease-in-out;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.blogbutton {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 75px;
    z-index: 3;
    transition: all .2s ease-in-out;
    margin-top: auto;
    cursor: url(down.png), pointer;

}

.blogbutton:hover,
li:hover {
    color: transparent;
    -webkit-text-stroke: 1px gray;
}

.month {
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: auto 75px;
    transition: all 0.2s;
    transform: scale(0.98);
    transition: all 0.2s;
    z-index: 3;
}

.day {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 75px;
    margin: 0px;
    padding: 0px;
    grid-column: 1/2;
    transform: scale(1);
    transition: all 0.2s;
    border-bottom: 1px solid gray;

}



.activemonth {
    transform: scale(1);
}

.activemonth .day {
    transform: scale(0.98);
    border-bottom: 1px solid gray;
}

.activemonth .activeday {
    transform: scale(1);

}

.activeday .dateday,
.activemonth .datemonth {
    color: #222;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

.date {
    font-size: 0px;
}

.dateday,
.datemonth {
    height: 20px;
    justify-self: center;
    position: sticky;
    position: -webkit-sticky;
    top: 50vh;
    color: lightgray;
    margin-bottom: 75px;
    margin-top: 75px;
    transition: all 0.2s;
    transform: scale(1);
    padding: 0px;
    z-index: 3;
    line-height: 0px;
}

article {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25px;
}

.slider {
    display: flex;
    height: 35vw;
    max-height: 500px;
    overflow: auto;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    cursor: url(right.png), pointer;
    z-index: 3;
    max-width: calc(1250px - 75px - 75px);
    width: calc(100vw - 50px - 150px);
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    font-size: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.slider.active {
    transform: scale(1);
    cursor: url(hold.png), grabbing;
}


img {
    display: inline-block;
    font-size: 0px;
    line-height: 0px;
    width: auto;
    height: 100%;
    padding: 0px;
    margin: 0px;


}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.mobiledate {
    display: none;
    height: 0px;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}

.date {
    display: inline-block;
    justify-self: flex-end;
    padding: 0px;
    margin: 0px;
}

.modal {
    z-index: 100;
    display: none;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8)
}

.modal-content img {
    z-index: 100000;
    margin: auto;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    height: auto;
    max-height: 75%;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        width: calc(100vw - 20px);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navday,
    .navmonth {
        pointer-events: none;
    }

    .footer {
        height: 100px;
    }

    .tolanding {
        font-size: 50px;
    }

    .tolanding:hover {
        color: #222;
        -webkit-text-stroke: 0px;
    }

    .tolanding:active {
        background-color: #ddd;
    }

    .contacts {
        width: calc(100vw - 20px);
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .year,
    .email,
    .name {
        justify-self: flex-start;
        align-self: center;

    }

    .social {
        width: calc(100vw - 20px);
        height: calc(100vh - 100px);
    }

    .blogbutton:hover,
    li:hover {
        color: #222;
        -webkit-text-stroke: 0px;
    }

    .blogbutton:active,
    li:active {
        background-color: #ddd;
    }



    li,
    .blogbutton {
        font-size: 50px;
        width: calc(100vw - 20px);
    }

    .contacts {
        font-size: 12px;
        height: 100px;
    }

    .day,
    .month,
    .activeday,
    .activemonth,
    .activemonth .day {
        grid-template-columns: auto;
    }

    .date {
        font-size: 16px;
    }

    .dateday,
    .datemonth {
        font-size: 0px;
        height: 0px;
        margin: 0px;
    }

    article {
        width: calc(100vw - 20px);
        margin-right: 0px;
    }

    .slider {
        height: 50vw;
        width: calc(100vw - 20px);
    }

    .slider,
    .day,
    .month,
    .activeday,
    .activemonth .day {
        transform: scale(1);
    }

    .date,
    h1,
    p {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }

    .modal-content img {
        width: 100vw;
        max-width: 100vw;
        height: auto;
        max-height: 100vh;
    }

    .mobiledate {
        display: inline-block;
        height: auto;
        line-height: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }
}